In [1]:
#import modules
import pandas as pd

In [2]:
#Path the file locations
prisoners = "../data/crime/usa_crime_rate.csv"

In [3]:
#Convert csv files into dataframes
prisoners_df = pd.read_csv(prisoners, index_col = 0)
prisoners_df = prisoners_df.T
prisoners_df

Year,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2010,0.0797,0.1919,0.0890,0.1454,0.0298,0.1025,0.0511,0.0471,0.0,0.0794,...,0.1244,0.1000,0.1013,0.1436,0.0068,0.0631,0.0831,0.1756,0.0401,0.1349
2011,0.0969,0.1525,0.0860,0.1386,-0.0669,0.0620,-0.0031,0.0695,0.0,0.0665,...,0.1575,0.1412,0.0922,0.1557,-0.0058,0.0836,0.0600,0.2011,0.0369,0.1730
2012,0.0686,-0.3667,0.0421,0.0331,-0.1627,-0.0112,-0.3493,-0.3447,0.0,0.0548,...,0.1932,0.1384,0.0014,0.1694,-0.2659,0.0527,0.0248,0.2365,-0.0629,0.1843
2013,0.1007,0.0820,0.1154,0.2183,-0.1516,-0.0156,-0.0445,0.1116,0.0,0.0662,...,0.1955,0.1429,0.0672,0.1887,0.0063,0.0510,0.0682,0.2008,0.0285,0.2413
2014,0.0799,0.1107,0.1468,0.2634,-0.1510,-0.0023,-0.0949,0.1038,0.0,0.0646,...,0.1814,0.1528,0.0530,0.1804,-0.0416,0.0670,0.0763,0.2134,0.0343,0.2805
2015,0.0473,0.1367,0.1593,0.2516,-0.1915,-0.0254,-0.1395,0.0560,0.0,0.0496,...,0.1670,0.1289,0.0395,0.0907,-0.1525,0.0914,0.0860,0.2525,0.0516,0.3025
2016,-0.0182,-0.0558,0.1484,0.2396,-0.1865,-0.0345,-0.1863,0.0451,0.0,0.0346,...,0.2544,0.1301,0.0382,0.0386,-0.1598,0.0746,0.1347,0.2602,0.0700,0.2757
2017,-0.0616,-0.0632,0.1406,0.2773,-0.1825,-0.0361,-0.2362,0.0225,0.0,0.0194,...,0.2999,0.1612,0.0307,0.0825,-0.2513,0.0560,0.1675,0.2479,0.0960,0.3289
2018,-0.0876,-0.0673,0.1399,0.2581,-0.1975,-0.0156,-0.2557,-0.0371,0.0,0.0094,...,0.2927,0.0547,0.0377,0.1174,-0.1966,0.0418,0.1596,0.1922,0.1014,0.3665
2019,-0.0379,-0.0471,0.1517,0.2553,-0.2346,-0.0439,-0.3024,-0.0967,0.0,-0.0064,...,0.2446,0.0558,0.0048,0.1198,-0.2213,0.0257,0.1440,0.1966,0.0965,0.3321
2020,-0.1391,-0.0251,0.0239,0.1376,-0.3928,-0.2187,-0.4800,-0.2525,0.0,-0.1615,...,0.0642,-0.0910,-0.7108,-0.0850,-0.3782,-0.0952,-0.0660,0.0635,-0.0709,0.1214

In [4]:
#Get the states into a list for future referance
state_list = [ "Alabama", "Arkansas", 
            "Arizona", "California", "Colorado", "Connecticut", 
            "District of Columbia", "Delaware", "Florida", "Georgia", 
            "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", 
            "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", 
            "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", 
            "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", 
            "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", 
            "Rhode Island", "South Carolina", "South Dakota", "Tennessee", 
            "Texas", "Utah", "Virginia", "Vermont", "Washington", 
            "Wisconsin", "West Virginia", "Wyoming"]

In [7]:
#Locate the first state in the data
prisoners_data = pd.DataFrame(prisoners_df.T.loc["Alaska",:])

#container for loop appending
state_cont = []

#loop to get repeating state name in column and setting up new loop
for x in range(len(prisoners_data)):
        state_cont.append(prisoners_data.columns[0])
prisoners_data["State"] = state_cont
prisoners_data = prisoners_data.set_index(["State",prisoners_data.index]) 
prisoners_data.columns=["Prisoners Rate of change"]

#Iterate through all states to get data in a preferred format for mongodb
for state in state_list:

    prisoners_new = pd.DataFrame(prisoners_df.T.loc[state,:])

    state_cont = []

    for x in range(len(prisoners_new)):
        state_cont.append(prisoners_new.columns[0])
    prisoners_new["State"] = state_cont
    prisoners_new = prisoners_new.set_index(["State",prisoners_new.index])
    prisoners_new.columns=["Prisoners Rate of change"]
    prisoners_data = prisoners_data.append(prisoners_new)
prisoners_data

              Prisoners Rate of change
State
Alaska  2010                    0.1919
        2011                    0.1525
        2012                   -0.3667
        2013                    0.0820
        2014                    0.1107
...                                ...
Wyoming 2016                    0.2757
        2017                    0.3289
        2018                    0.3665
        2019                    0.3321
        2020                    0.1214

[561 rows x 1 columns]

In [8]:
prisoners_data.index.names = ["State" , "Date"]
prisoners_data

              Prisoners Rate of change
State   Date
Alaska  2010                    0.1919
        2011                    0.1525
        2012                   -0.3667
        2013                    0.0820
        2014                    0.1107
...                                ...
Wyoming 2016                    0.2757
        2017                    0.3289
        2018                    0.3665
        2019                    0.3321
        2020                    0.1214

[561 rows x 1 columns]

In [9]:
#Save finished file into a csv
prisoners_data.to_csv("../data/prisoners_rate.csv")